<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Source+Code+Pro:wght@400;700&family=Tomorrow:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/{{ .Site.Params.theme_css }}">
  <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
</head>
<body>
  {{ partial "header.html" . }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}

  <script src="/js/main.js"></script>
</body>
</html>